:root {
    color: #ddd;
    background-color: #191919;
    font-family: Source Sans Pro, Helvetica, sans-serif;
}

body {
    margin: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
}

h1, h2 {
    color: #eee;
}

h1 {
    font-size: 2.5em;
    margin-top: 1.5em;
}

h2 {
    font-size: 1.5em;
    margin-top: 1.5em;
}

a {
    color: #42affa;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    font-size: small;
    opacity: 0.5;
    margin-top: 3em;
    text-align: center;
}